body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(166, 135, 79);
}

* {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(166, 135, 79);
}

.navbar {
  display: flex;
  gap: 20px;
  font-size: 1.2em;
}

.navbar a {
  color: rgb(242, 222, 204);
  text-decoration: none;
}

.navbar a:visited {
  color: rgb(242, 222, 204);
}

.navbar a:hover {
  color: white;
}

.navbar a:active {
  color: white;
}

a {
  padding: 0em 1em 0em 1em;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 3;
}

#header-title {
  color: rgb(242, 222, 204);
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  letter-spacing: -1px;
  line-height: 1;
  font-size: 3em;
  line-height: 1.5;
  transform: skew(-10deg);
  text-transform: uppercase;
}

#header-title a {
  text-decoration: none;
  color: rgb(242, 222, 204);
}

#header-title a:visited {
  color: rgb(242, 222, 204);
}

#content {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.landing-container {
  position: relative;
  width: 97%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(166, 135, 79);
  border-radius: 20px;
  margin: 1em;
}

.slide {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  z-index: 1;
  border-radius: 20px;
}

.slide.active {
  opacity: 1;
}

.overlay {
  position: absolute;
  z-index: 2;
  text-align: center;
  color: white;
}

#title {
  color: rgb(242, 222, 204);
  font-size: 4rem;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 1.2rem;
  letter-spacing: -1px;
  line-height: 1.5;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn-main {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 1.5rem;
  transition: background-color 0.3s ease;
}

.btn-main:hover {
  background-color: #555;
}

.profile-container {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  background-color: rgb(250, 247, 237);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.profile-header .title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.profile-header .create-recipe-button {
  padding: 0.5rem 1rem;
  background-color: rgb(166, 135, 79);
  color: rgb(242, 222, 204);
  border: 1px solid rgb(242, 222, 204);
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 1em;
  font-size: 1.5em;
}

.profile-header .create-recipe-button:hover {
  background-color: rgb(242, 222, 204);
  color: rgb(166, 135, 79);
}

#created-recipes {
padding-left: .7em;
color: rgb(242, 222, 204);
font-size: 2em;
border: 2px solid rgb(242, 222, 204);
border-radius: 20px;
}

.profile-content {
  width: 100%;
  border-radius: 20px;
  padding: 1rem;
}

.profile-content .profile-section {
  font-size: 1.2rem;
  color: rgb(213, 197, 161);
}

.sign-container {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  background-color: rgb(250, 247, 237);
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

#log-head {
  color: rgb(166, 135, 79);
  font-size: 3em;
}

#sign-head {
  color: rgb(166, 135, 79);
  font-size: 3em;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 197, 161);
  padding: 5em;
  border-radius: 15px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 197, 161);
  padding: 7.5em 5em 7.5em 5em;
  border-radius: 15px;
}

.input {
  padding: 0.5em 1em 0.5em 1em;
  margin: 1em;
  border-radius: 15px;
  border: 5px solid rgb(242, 222, 204);
  font-size: 1em;
  color: rgb(166, 135, 79);
}

#log-btn {
  font-size: 1em;
  padding: 0.4em 2em 0.4em 2em;
  border-radius: 15px;
  border: 2px solid rgb(166, 135, 79);
  background-color: rgb(213, 197, 161);
  color: rgb(166, 135, 79);
}

.recipe-card {
  border-radius: 20px;
  color: rgb(166, 135, 79);
  margin-top: 1em;
}

#log-btn:hover {
  background-color: rgb(166, 135, 79);
  color: rgb(213, 197, 161);
}

#sign-btn {
  font-size: 1em;
  padding: 0.4em 2em 0.4em 2em;
  border-radius: 15px;
  border: 2px solid rgb(166, 135, 79);
  background-color: rgb(213, 197, 161);
  color: rgb(166, 135, 79);
}

#sign-btn:hover {
  background-color: rgb(166, 135, 79);
  color: rgb(213, 197, 161);
}

#center {
  text-align: center;
  color: rgb(242, 222, 204);
  font-size: 3em;
  margin-bottom: 0px;
}

#ingred {
  border: 3px solid rgb(213, 197, 161);
  padding: 0.3em 6em 0.3em 0.5em;

  border-radius: 20px;
  font-size: 1em;
}

.ingredient-item {
  display: inline-block;
  border: 1px solid rgb(213, 197, 161);
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 5px;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  max-height: 12em;
  overflow-y: auto;
}

.ingredients-list-container {
  border: 3px solid rgb(213, 197, 161);
  padding: 0.5em;
  margin: 0em 5em 0em 5em;
  border-radius: 20px;
  font-size: 1em;
}

.x {
  background: none;
  border: none;
  color: rgb(166, 135, 79);
  font-weight: bolder;
}

.results-section {
  display: flex;
  justify-content: space-between;
}

.recipes-section {
  max-height: 1000px;
  overflow-y: auto;
}

.recipe-container {
  max-height: 80vh;
  overflow-y: auto;
}

#btn {
  display: flex;
  justify-content: center;
}

#add {
  margin: 1em;
  padding: 0.5em 3em 0.5em 3em;
  border: 2px solid rgb(242, 222, 204);
  border-radius: 20px;
  background-color: rgb(166, 135, 79);
  color: rgb(242, 222, 204);
}

#add:hover {
  background-color: rgb(242, 222, 204);
  color: rgb(166, 135, 79);
}

#search {
  margin: 1em;
  padding: 0.5em 3em 0.5em 3em;
  border: 2px solid rgb(242, 222, 204);
  border-radius: 20px;
  background-color: rgb(166, 135, 79);
  color: rgb(242, 222, 204);
}

#search:hover {
  background-color: rgb(242, 222, 204);
  color: rgb(166, 135, 79);
}

.fridge-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-ingred {
  display: flex;
  margin: 1em;
  justify-content: center;
}

.ingredients-list-container {
  background: rgb(250, 247, 237);
}

.ingredients-list {
  max-height: 100px;
  overflow-y: auto;
}

.ingredient-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: rgb(166, 135, 79);
  border: solid 2px;
  border-radius: 15px;
  background-color: rgb(242, 222, 204);
}

.recipes-section {
  margin-top: 20px;
}

.recipe-item {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 247, 237);
  border-radius: 10px;
  padding: 1em;
  margin: 0.3em;
  color: rgb(166, 135, 79);
}

.used-missing {
  margin: 0.5em 0em 0em 0em;
}

.recipe-details-section {
  color: rgb(250, 247, 237);
}

img {
  border-radius: 20px;
}

.feed-container {
  background-color: rgb(250, 247, 237);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#center-updated {
  text-align: center;
  color: rgb(242, 222, 204);
  font-size: 3em;
}

.ai-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#btn-updated {
  display: flex;
  justify-content: center;
}

#ingred-updated {
  border: 3px solid rgb(213, 197, 161);
  padding: 0.5em;
  margin: 0em 5em 0em 5em;
  border-radius: 20px;
  font-size: 1em;
}

#add-updated {
  margin: 1em;
  padding: 0.5em 3em 0.5em 3em;
  border: 2px solid rgb(242, 222, 204);
  border-radius: 20px;
  background-color: rgb(166, 135, 79);
  color: rgb(242, 222, 204);
}

#add-updated:hover {
  background-color: rgb(242, 222, 204);
  color: rgb(166, 135, 79);
}

.UD-btn {
  padding: 0.5rem 1rem;
  background-color: rgb(250, 247, 237);
  color: rgb(166, 135, 79);
  border: 1px solid rgb(213, 197, 161);
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 1em;
}

.UD-btn:hover {
  background-color: rgb(166, 135, 79);
  color: rgb(242, 222, 204);
}

.form-popup {
  position: fixed;
  top: 10%;
  left: 50%;
  color: rgb(166, 135, 79);
  transform: translateX(-50%);
  background-color: rgb(250, 247, 237);
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.form-popup form {
  display: flex;
  flex-direction: column;
}

.form-popup form label {
  margin-bottom: 10px;
}

.form-popup form input,
.form-popup form textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-popup form button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: rgb(166, 135, 79);
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.form-popup form button:last-of-type {
  background-color: rgb(250, 247, 237);
  color: rgb(166, 135, 79);
  border: 1px solid rgb(213, 197, 161);
}

.form-popup form button:last-of-type:hover {
  background-color: rgb(166, 135, 79);
  color: rgb(242, 222, 204);
}

.fix {
  display: flex;
  flex-direction: column;
}

input {
  margin-right: 1em;
}

#generate-updated {
  margin: 1em;
  padding: 0.5em 3em 0.5em 3em;
  border: 2px solid rgb(242, 222, 204);
  border-radius: 20px;
  background-color: rgb(166, 135, 79);
  color: rgb(242, 222, 204);
}

#generate-updated:hover {
  background-color: rgb(242, 222, 204);
  color: rgb(166, 135, 79);
}


@media (max-width: 1056px) {
  .header {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 1056px) {
 .sign-container {
  display: flex;
  flex-direction: column;
 }

 .sign-up-form {
  margin-bottom: 1em;
 }
}

@media (max-width: 425px) {
 .header {
  font-size: .7em;
 }

 #title {
  font-size: 2em;
 }

.profile-header .create-recipe-button {
  font-size: .5em;
}

 }